.adminbox{
    background: rgb(219, 219, 192);
    border-radius: 10px;
    width: 50%;
    left: 25%;
    top:100px;
    overflow: hidden;
    position: relative;
    max-height: 50%;
    min-height: 350px;
    text-align: center;
  }
  .adminbox input{
   background: #eee;
   border: none;
   padding: 12px 15px;
   margin: 8px 0;
   width: 50%;
   }
   
 .adminbutton {
        background-color: #00ace6;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 50%;
        border-radius: 5px;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
       }
  