        #container {
            width: 100%;
            height: 600px;
            background: white;
            margin: 0 auto;
            font-size: 0;
            border-radius: 5px;
            overflow: hidden;
        }

        main {
            width: 100%;
            height: 600px;
            display: inline-block;
            font-size: 15px;
            vertical-align: top;
        }

        main header {
            height: 50px;
            padding: 30px 20px 30px 40px;            
        }

        main header>* {
            display: inline-block;
            vertical-align: top;
        }

        main header img:first-child {
            width: 24px;
            margin-top: 8px;
        }

        main header img:last-child {
            width: 24px;
            margin-top: 8px;
        }

        main header div {
            margin-left: 90px;
            margin-right: 90px;
        }

        main header h2 {
            font-size: 25px;
            margin-top: 5px;
            text-align: center;
            color: #FFFFFF;
        }

        main .inner_div {
            padding-left: 0;
            margin: 0;
            list-style-type: none;
            position: relative;
            overflow: auto;
            height: 300px;
            background-image: url(https://media.geeksforgeeks.org/wp-content/cdn-uploads/20200911064223/bg.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            border-top: 2px solid #fff;
            border-bottom: 2px solid #fff;

        }

        main .triangle {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 8px 8px 8px;
            border-color: transparent transparent #58b666 transparent;
            margin-left: 20px;
            clear: both;
        }

        main .message {
            padding: 10px;
            color: #000;
            margin-left: 15px;
            background-color: #58b666;
            line-height: 20px;
            max-width: 90%;
            display: inline-block;
            text-align: left;
            border-radius: 5px;
            clear: both;
        }

        main .triangle1 {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 8px 8px 8px;
            border-color: transparent transparent #6fbced transparent;
            margin-right: 20px;
            float: right;
            clear: both;
        }

        main .message1 {
            padding: 10px;
            color: #000;
            margin-right: 15px;
            background-color: #6fbced;
            line-height: 20px;
            max-width: 90%;
            display: inline-block;
            text-align: left;
            border-radius: 5px;

            clear: both;
        }

         main {
            height: 150px;
            padding: 20px 30px 10px 20px;
            background-color: #622569;
        }

        main .input1 {
            resize: none;
            border: 100%;
            display: block;
            width: 100%;
            height: 55px;
            border-radius: 3px;
            padding: 20px;
            font-size: 13px;
            margin-bottom: 13px;
        }

        main textarea {
            resize: none;
            border: 100%;
            display: block;
            width: 100%;
            height: 55px;
            border-radius: 3px;
            padding: 20px;
            font-size: 13px;
            margin-bottom: 13px;
            margin-left: 20px;
        } */

        .send .input2 {
            resize: none;
            border: 100%;
            display: block;
            width: 40%;
            height: 55px;
            border-radius: 3px;
            padding: 20px;
            font-size: 13px;
            margin-bottom: 13px;
            margin-left: 100px;
            color: white;
            text-align: center;
            background-color: black;
            border: 2px solid white;
        }


        .send textarea::placeholder {
            color: #ddd;
        } 