 #container{
     color:black;
    background: white;
 }

main{
    font-size: 15px;
    vertical-align: top;
    background-color: white;
}

main header {
    height: 50px;
    padding: 10px 10px 10px 10px;
    background-color: #32a515;
}
    
main header h2 {
    font-size: 22px;
    text-align: center;
    margin-top: 5px;
    color: black;
}

 main .inner_div {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
    overflow: auto;
    height: 400px;
    background-color: white;
    background-position: center;
     background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-top: 2px solid #fff;
}

main .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #95e981 transparent;
    margin-right: 20px;
    float: right;
    clear: both;
}

main .message {
    padding: 10px;
    color: #000;
    margin-right: 15px;
    background-color: #95e981;
    line-height: 20px;
    max-width: 90%;
    display: inline-block;
    text-align: right;
    border-radius: 5px;
    float: right;
    clear: both;
}

main .triangle1 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #9b62f5 transparent;
    margin-left: 20px;
    float: left;
    clear: both;
}
main .message1 {
    padding: 10px;
    color: #000;
    margin-left: 15px;
    background-color: #9b62f5;
    line-height: 20px;
    max-width: 90%;
    display: inline-block;
    text-align: left;
    border-radius: 5px;
    float: left;
    clear: both;
}

main .send{
    background-color: white;
    width: 100%;

}

main footer textarea{
    width: 100ch;
    padding:0%;
    border-radius: 50px;
    outline: none;
    color:black;
}

main footer .input2 {
    border: 100%;
    border-radius: 50px;
    padding: 13px;
    text-align: center;
    border: 2px solid ;
    margin-bottom: 10px;
    outline: none;
}
#msg {
    color: black;
}
    