/* @import "css/navigation.css";
@import "css/educate.css";
@import "css/trees.css";
@import "css/pollution.css";
@import "css/feed.css";
@import "css/blog.css";
@import "css/donate.css";
@import "css/contact.css"; */
@import "donate.css";

@font-face{
    font-family: 'Poppins';
    src: url(font/Poppins/Poppins-Medium.ttf);
    font-style: normal;
    font-weight: 400;
}
@font-face{
    font-family: 'Poppins';
    src: url(font/Poppins/Poppins-Regular.ttf);
    font-style: Regular;
    font-weight: 300;
}
@font-face{
    font-family: 'Poppins';
    src: url(font/Poppins/Poppins-Light.ttf);
    font-style: normal;
    font-weight: 200;
}
@font-face{
    font-family: 'Poppins';
    src: url(font/Poppins/Poppins-ExtraLight.ttf);
    font-style: normal;
    font-weight: 100;
}
body{
    height: 9650px;
    font-family: 'Poppins';
    margin: 0px 2% 0px 2%;
    align-items: center;
}