header {
  position: sticky; /*navigation will stick on top */
  top: 0px; /* this condition is mandatory to stick the menu */
  background-color: #fff;
  z-index: 2000;
}

nav {
  min-height: 7vh;
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  position: absolute;
  float: left;
  padding: 5px;
}

.logo a {
  color: #000;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
}

nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
  float: left;
}

nav ul li:not(:first-child) {
  margin-left: 48px;
}

nav ul li:last-child {
  margin-right: 24px;
}

nav ul li a {
  display: inline-block;
  outline: none;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 1.2px;
  font-weight: 100;
}

nav ul li a:hover {
  color: #527a7a;
}

.login-signup:hover {
  color: #009900;
  /*border: 2px solid #000;
    border-radius: 0px;*/
  transition: 0.5s ease;
}

.login-signup {
  background: transparent;
  color: #000;
  border: none;
  /*border-radius: 0px;*/
  padding: 1px;
  font-size: 24px;
  outline: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 10px;
  background-color: #f9f9f9;
  min-width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 2;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
  color: #009900;
  transition: 0.5s ease;
}

@media screen and (max-width: 900px) {
  .logo {
    padding: 0;
  }

  .nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #fff;
    opacity: 0;
    transition: all 0.2s ease;
  }

  .nav-wrapper ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
  }

  .nav-wrapper ul li {
    display: block;
    float: none;
    width: 100%;
    margin-bottom: 10px;
  }

  .nav-wrapper ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }

  .nav-wrapper ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }

  .nav-wrapper ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }

  .nav-wrapper ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }

  .nav-wrapper ul li:nth-child(5) a {
    transition-delay: 0.6s;
  }

  .nav-wrapper ul li:not(:first-child) {
    margin-left: 0;
  }

  .nav-wrapper ul li a {
    padding: 10px 24px;
    opacity: 0;
    color: #000;
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 1.2px;
    transform: translateX(-20px);
    transition: all 0 ease;
  }

  .nav-btn {
    position: fixed;
    right: 10px;
    display: block;
    width: 48px;
    height: 45px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }

  .nav-btn i {
    display: block;
    width: 25px;
    height: 3px;
    background: #000;
    border-radius: 2px;
    margin-left: 14px;
  }

  .nav-btn i:nth-child(1) {
    margin-top: 16px;
  }

  .nav-btn i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }

  .nav-btn i:nth-child(3) {
    margin-top: 4px;
  }

  .marker {
    display: none;
  }
}

#nav:checked + .nav-btn {
  transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: #000;
  transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  transform: translateX(0);
}

.hidden {
  display: none;
}

/* Section Response */
.marker {
  position: absolute;
  z-index: -2;
  border: 1px solid #000;
  background: transparent;
  transform: scale(1.25);
  padding-left: 5px;
  padding-right: 5px;
  transition: all 0.5s ease;
}
