body{
  margin: 2px;
  font-family: 'Poppins';
  box-sizing: border-box;
}

.separator{
  grid-area: separator;
}

.sidebar1{
grid-area: sidebar1;
background-color: #E5E5E5B0;
position: relative;
margin-left: 10px;
text-align: center;
}

.sidebar2{
grid-area: sidebar2;
position: relative;
background-color: #E5E5E5B0;
margin-right: 10px;
}

.main{
  grid-area: main;
  background-color: #FFFFFF;
}

.footer{
  grid-area: footer;
  background-color: #243B55;
  color: #FFFFFF;
  margin-top: 5px;
  font-size: 20px;
  text-align: center;  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
}
  
.header1{
  grid-area: header1;
  background-color: #FFFFFF;
  position: relative; 
  max-width: 100%;
}

.header2{
  grid-area: header2;
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  background-color: #FFFFFF;
}
  
.header3{
  grid-area: header3;
  background-color: #FFFFFF;
  position: relative;
  margin-top: 20px;
  margin-left: 30px;
}

.profile{
  width: 100%;
  height: 100vh;
  background: #FFFFFF;
  font-family: 'Poppins';
  display: grid;
  grid-gap: 0.3em;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: 10% 2% auto 8%;
  grid-template-areas:
    "header1   header2  header3"
    "separator separator separator"
    "sidebar1  main  sidebar2"
    "footer   footer  footer";  
}
 
.box{
  border-radius: 4px;
  padding: 1px;  
} 

hr{
  border: 1px solid black;
}
.plogo{
  position: absolute;
  height: 33px;
  left: 4px;
  top: 1px;  
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  color: #000000;  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.people{
  position: relative;
  font-size: 15px;
  width: 100%;
  left: 190px;
  top: 34px;
}

#search{
  width: 80%;
  height: 30px;  
  position: relative;
  left: 1px;
  top:  10px;
  background-color: #E5E5E5B0;
  text-align: center;
  border: none;
}
/* #slogo{
  position: relative;
  top: -17px;
  left: 330px;
  cursor: pointer;
} */

#chat-section,#blog-section,#profile-section,#show-all-section,#sorg-section,#settings-section,#edit-section,#cpass-section{
  display: none;
}

img{
  width: 25px;
  height: auto;
}

#chat{
  margin-left: 10px;
}

#post,#user{
  margin-left: 40px;
}
.jorg{
  background: #FFFFFF;
  position: relative;
  margin-left: 25px;  
  margin-right: 10px;
  width: 200px;    
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
}

#people{
  float: left;
  width: 20px;
  margin-left: 10px;
 }
 .org{
  font-size: 13px;
  cursor: pointer;
}
#ar{
  float: right;
  width: 20px;
}
#show-all{
  font-size: 15px;
  color: red;
  cursor: pointer;
}

#show-joined-org{       
  display: grid;
  grid-gap: 1em;
  
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#b-people{
  width: 80px;    
 }
 .b-org{  
  font-size: 12px;
  cursor: pointer;
}

#editdp{
  position: relative;
  top: -30px;
  left: 30px;
  cursor: pointer;
}
.edit-p{
  position: relative;
  top:  -50px;
  font-family: 'Poppins';  
}
#inside{
  position: absolute;
}

#elogo,#cplogo{
  
  position: relative;
  left: 30px;
  top: 12px;
  width: 20px;
 }
#settings{
  position: relative;
  left: 70px;  
  font-size: 20px;  
  color: #000;
}
#edit,#cpass{
  position: relative;
  top: 10px;
  left: 40px; 
  font-size: 15px;
  color: #000; 
}
#lout{
  position: relative;
  left: 90px; 
  /* top: 40px; */
  bottom: 5px;
  font-size: 20px;
  color: red;
}

#ts{
  position: relative;
  display: inline-block;
  margin-top: 10px;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
}
span{
  color: black;
  padding: 5px 6px;
  text-decoration: none;
  display: block;
}
.cpwd{
  display: flex;
  position: relative;
  top: 80px;
  left: 30%;  
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  width: 350px;
  height: 200px;      
}

/* .cp,.np,.dp{
  margin-left: -100px;
} */
#oldp,#pass1,#pass2{
  width: 350px;
  height: 30px;
  border: none;
  margin-top: 2px;
  background-color:#E5E5E5B0;
  text-align: center;
}
.cok{
  height: 30px;
  margin-left: 20px;
  background-color: aqua;
}

.dprofile-card{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}

.dprofile{
  display: flex;
  flex-basis:260px;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.dprofile .dprofile-dp{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  transition: transform .2s;
}

.dprofile-dp:hover{
  transform: scale(1.2);
}

.user-name{
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 25px;
}

.dprofile h3{
  margin-top: 10px;
}

.dprofile h5{
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 3px;
  margin-top: 10px;
}

.p-details{
  display: flex;
  flex-basis:260px;
  text-align: center;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;  
}
.j .c .d{
  text-align: center;
  flex-direction: row;
  align-items: center;
  margin-left: 200px;
}

.d h4:after{
  content: ' \20B9';
}

#ep,#row1,#row2,#row3,#row4,#row5,#row6,#row7,#row8,#row9{
  display: flex;
  text-align: center;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 20px;
  justify-content: space-around;
  align-items: center;  
}

#pfn,#pln,#pemail,#pmobile,#pusername{
  border: none;
  background-color: #E5E5E5B0;
  text-align: center;
  width: 100%;
  height: 35px;
}
 