body{
  background-image: url("10613180113_fdf7bcd316_b.jpg") cover;
  
  color:black;
  padding: 0px;
  margin: 0;
  height:100%;
}
.imghead{
  height:50px;
  width:90px;
  border-radius:50px;
  background:transparent;
}
 .mr-auto{
    text-align: right;
    font-size: medium;
    font-display: normal;
    color:black; 
    padding-left:50px;
    padding-top:10px;
  }
  .act{
    padding:17px ;
    color:black;
    font-size: large;
    font-family:'Times New Roman', Times, serif; 
    text-emphasis: emphasis 1px; 
}

.soci{
  font-size: 25px;
  text-decoration-color: black;
  font-family:'Times New Roman', Times, serif;  
}

.right{
    font-size:larger;
    text-decoration-color: black;
    font-family:'Times New Roman', Times, serif;  
    padding: 5px;
    padding-top:13px;
}

.nav-link{
  color:black;
  
}

.middle{
  padding-top: 15px;
  height: 50%;
  width: 50%;  
}
.footer{
  width:100%;
  position: absolute;
}
.footer-top{
  background:black;
  padding:69px 0;
  color:white;
  margin-top:100%;
}
h4{
  text-align: center;
  justify-items: center;
  align-content: center;
}

.foot-img{
  height:50px;
  background: transparent;
  border-radius:30px;
  text-align: center; 
  padding:2px;
  margin: 15px 15px;
}
.img-foot{
  text-align: center;
}

.foot-link:hover{
  background-color:black;
}

.form{
  text-align:center;
}
.for{
  margin:10px;
  border-radius: 15px;
}

.last{
  background-color:whitesmoke;
  width:100%;
  height: 30px;
  color:black;
}

hr{
  width: 300px;
  background-color:black;
  height: 0.3px;
}